<div>
  <h3>ToDo App</h3>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Task Name </label>
          <input
            class="form-control"
            [(ngModel)]="newTask.name"
            type="text"
            name="name"
            required
          /><br /><br />
        </div>
        <div class="form-group">
          <label>Task ID </label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            class="form-control"
            [(ngModel)]="newTask.id"
            type="text"
            name="id"
          /><br /><br />
        </div>
        <button (click)="addTask(newTask)">Submit</button>&nbsp;
        <button (click)="reset()">Reset</button><br /><br />
      </form>
    </div>
  </div>

  <div *ngFor="let task of taskItems">
    {{ task.name }}&nbsp;&nbsp;{{ task.id }}
    <button (click)="edit(task)">Edit</button>&nbsp;
    <button (click)="delete(task)">Delete</button><br /><br />
  </div>
</div>
